<div class="container spacer">
    <div class="panel panel-primary">
        <div class="panel-headind">CATALOGUE</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <td>NOS PRODUITS </td> 
                </tr>
                <tr *ngFor="let c of pageCatalogues">
                    <td>{{c.nomCatalogue}}</td>
                    
                    
                    
                </tr>
            </table>
        </div>
    </div>
</div>
        
