

<article class="card">
<div class="card-body p-5">
<p> <img src="images/icons/pay-visa.png"> 
	<img src="images/icons/pay-visa-el.png"> 
   <img src="images/icons/pay-mastercard.png"></p>
<p class="alert alert-success">Message de succes ou echec</p>

<form role="form">
<div class="form-group">
<label for="username">Taper votre nom et prenom</label>
<div class="input-group">
	<div class="input-group-prepend">
		<span class="input-group-text"><i class="fa fa-user"></i></span>
	</div>
	<input name="username" class="form-control" required="" type="text" placeholder="">
</div> <!-- input-group.// -->
</div> <!-- form-group.// -->

<div class="form-group">
<label for="cardNumber">Taper votre numero de carte</label>
<div class="input-group">
	<div class="input-group-prepend">
		<span class="input-group-text"><i class="fa fa-credit-card"></i></span>
	</div>
	<input name="cardNumber" class="form-control" type="text" placeholder="">
</div> <!-- input-group.// -->
</div> <!-- form-group.// -->

<div class="row">
    <div class="col-sm-8">
        <div class="form-group">
            <label><span class="hidden-xs">Date d'expiration</span> </label>
        	<div class="form-inline">
        		<select class="form-control" style="width:45%">
				  <option>MM</option>
				  <option>01 - Janvier</option>
				  <option>02 - Fevrier</option>
				  <option>03 - Mars</option>
				</select>
	            <span style="width:10%; text-align: center"> / </span>
	            <select class="form-control" style="width:45%">
				  <option>YY</option>
				 <option>2020</option>
                  <option>2021</option>
                  <option>2022</option>
				</select>
        	</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label title="" data-original-title="3 digits code on back side of the card" data-toggle="tooltip">CVV <i class="fa fa-question-circle"></i></label>
            <input class="form-control" required="" type="text">
        </div> <!-- form-group.// -->
    </div>
</div> <!-- row.// -->
<button class="subscribe btn btn-primary btn-block" type="button"> Confirmer </button>
</form>
</div> <!-- card-body.// -->
</article> <!-- card.// -->

