<div class="card">
<table class="table table-hover shopping-cart-wrap">
<thead class="text-muted">
<tr>
  <th scope="col">Produits</th>
  <th width="120" scope="col">Quantite</th>
  <th width="120" scope="col">Prix</th>
  <th width="200" class="text-right" scope="col">Action</th>
</tr>
</thead>
<tbody>
<tr>
    <td>
<figure class="media">
    <figcaption class="media-body">
        <h6 class="title text-truncate">ROBE </h6>
        
    </figcaption>
</figure> 
    </td>
    <td> 
        <select class="form-control">
            <option>1</option>
            <option>2</option>  
            <option>3</option>  
            <option>4</option>  
        </select> 
    </td>
    <td> 
        <div class="price-wrap"> 
            <var class="price">120 euros</var> 
            
        </div> <!-- price-wrap .// -->
    </td>
    <td class="text-right"> 
    <a title="" class="btn btn-outline-success" href="" data-original-title="Save to Wishlist" data-toggle="tooltip"> <i class="fa fa-heart"></i></a> 
    <a class="btn btn-outline-danger" href=""> × Supprimer</a>
    </td>
</tr>
<tr>
    <td>
<figure class="media">
    
    <figcaption class="media-body">
        <h6 class="title text-truncate">Pantalon</h6>
        
         </figcaption>
</figure> 
    </td>
    <td> 
        <select class="form-control">
            <option>1</option>
            <option>2</option>  
            <option>3</option>  
            <option>4</option>  
        </select> 
    </td>
    <td> 
        <div class="price-wrap"> 
            <var class="price">23 euros</var> 
          
        </div> <!-- price-wrap .// -->
    </td>
    <td class="text-right"> 
    <a title="" class="btn btn-outline-success" href="" data-original-title="Save to Wishlist" data-toggle="tooltip"> <i class="fa fa-heart"></i></a> 
    <a class="btn btn-outline-danger btn-round" href=""> × Remove</a>
    </td>
</tr>
<tr>
    <td>
<figure class="media">
    
    <figcaption class="media-body">
        <h6 class="title text-truncate">veste </h6>
        
    </figcaption>
</figure> 
    </td>
    <td> 
        <select class="form-control">
            <option>1</option>
            <option>2</option>  
            <option>3</option>  
            <option>4</option>  
        </select> 
    </td>
    <td> 
        <div class="price-wrap"> 
            <var class="price">65 euros</var> 
             
        </div> <!-- price-wrap .// -->
    </td>
    <td class="text-right"> 
        <a title="" class="btn btn-outline-success" data-toggle="tooltip"> <i class="fa fa-heart"></i></a> 
        <a class="btn btn-outline-danger btn-round" href=""> × Supprimer</a>
    </td>
</tr>
</tbody>
</table>
</div> <!-- card.// -->