
<div class="card">
<table class="table table-hover shopping-cart-wrap">
<thead class="text-muted">
<tr>
  <th scope="col">Produit</th>
  <th width="120" scope="col">Quantite</th>
  <th width="120" scope="col">Prix</th>
  <th width="200" class="text-right" scope="col">Action</th>
</tr>
</thead>
<tbody>
<tr>
	<td>

	
	
		<h6 class="title text-truncate">Nom du Produit sélectionné</h6>
		<dl class="dlist-inline small">
		  <dt>Size: </dt>
		  <dd>XXL</dd>
		</dl>
		
	

	</td>
	<td> 
		<select class="form-control">
			<option>1</option>
			<option>2</option>	
			<option>3</option>	
			<option>4</option>	
		</select> 
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">15 Euros</var> 
			
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right"> 
	<a class="btn btn-outline-danger" href=""> × Remove</a>
	</td>
</tr>
<tr>
	<td>

	
		<h6 class="title text-truncate">Nom du Produit sélectionné</h6>
		<dl class="dlist-inline small">
		  <dt>Size: </dt>
		  <dd>XXL</dd>
		</dl>
		
	
	</td>
	<td> 
		<select class="form-control">
			<option>1</option>
			<option>2</option>	
			<option>3</option>	
			<option>4</option>	
		</select> 
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">30 Euros</var> 
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right"> 
	<a class="btn btn-outline-danger btn-round" href=""> × Remove</a>
	</td>
</tr>
<tr>
	<td>

	
		<h6 class="title text-truncate">Nom du Produit sélectionné²</h6>
		<dl class="dlist-inline small">
		  <dt>Size: </dt>
		  <dd>XXL</dd>
		</dl>
		

	</td>
	<td> 
		<select class="form-control">
			<option>1</option>
			<option>2</option>	
			<option>3</option>	
			<option>4</option>	
		</select> 
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">40 Euros</var> 
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right"> 
		<a class="btn btn-outline-danger btn-round" href=""> × Remove</a>
		
	</td>
        <button (click)="saveProduit()" class="btn btn-primary">Valider les Achats</button>

</tr>
</tbody>
</table>
</div> <!-- card.// -->
