<div class="container spacer">
    <div class="panel panel-primary">
        <div class="panel-headind">Liste des Produits</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <td>ID</td><td>NOM DU PRODUIT</td><td>QUANTITE</td><td>PRIX</td>
                </tr>
                <tr *ngFor="let p of pageProduits">
                    <td>{{p.idProduit}}</td>
                    <td>{{p.nomProduit}}</td>
                    <td>{{p.quantite}}</td>
					<td>{{p.prix}}</td>
					<td>
						<a [routerLink]="['/ajoutercommande', {idProduit:produit.idProduit}]">BUY NOW</a>
					</td>
                    
                    
                </tr>
            </table>
        </div>
    </div>
</div>
