<div class="container spacer">
    <div class="panel panel-primary">
        <div class="panel-heading">Liste des Produits </div>
        <div class="panel-body">
            <table class="table table-striped">
                   <tr> 
                     <td>ID Promo</td>
                     <td>Nom Du Produit</td>
                    <td>Date Debut Promotion</td>
					<td>Date De Fin Promtion</td>
					 <td>PRIX PROMOTION</td>
                    <td>PRIX INITIAL</td>
                   

                </tr>

                 <tr *ngFor="let p of pagePromotions">
                    <td>{{p.idPromo}}</td>
                    <td>{{p.produit.nomProduit}}</td>
                    <td>{{p.dateDebutPromo |date: 'dd/MM/yyyy'}}</td>
                    <td>{{p.dateFinPromo |date: 'dd/MM/yyyy'}}</td>
					<td>{{p.produit.prix}}</td>
					<td>{{p.prixPromo}}</td>
	
        
                </tr>
            </table>
        </div>

    </div>

</div>